@media print {

    @page {
        page: wide;
        margin: 0;
        size: A4;
        width: 100%;
        height: auto;
    }

    header,
    footer,
    aside,
    nav,
    iframe,
    .menu {
        display: none;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 8pt;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;

        .main {
            &_sidebar {
                display: block;
                height: 100%;
            }

            &_content {
                display: block;
                height: 100%;
            }
        }

        .print_margin {
            margin-top: 2rem;
            display: block;
        }

        .svg-holder {

            &.small {
                height: px2rem(32);
                width: px2rem(32);

                .is_rounded {
                    height: px2rem(48);
                    width: px2rem(48);
                }
            }

            &.medium {
                height: px2rem(38);
                width: px2rem(38);

                &.is_rounded {
                    height: px2rem(60);
                    width: px2rem(60);
                }
            }

            &.large {
                height: px2rem(40);
                width: px2rem(40);

                .is_rounded {
                    height: px2rem(65);
                    width: px2rem(65);
                }
            }
        }
    }
}