@media print {

    header,
    footer,
    aside,
    nav,
    iframe,
    .menu {
        display: none;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        font-size: 8pt;

        .main {
            &_sidebar {
                display: block;
                width: 100mm;
            }

            &_content {
                display: block;
                width: 110mm;
            }
        }

        .print_margin {
            margin-top: 2rem;
            display: block;
        }

        .svg-holder {

            &.small {
                height: px2rem(36);
                width: px2rem(36);

                .is_rounded {
                    height: px2rem(52);
                    width: px2rem(52);
                }
            }

            &.medium {
                height: px2rem(38);
                width: px2rem(38);

                &.is_rounded {
                    height: px2rem(54);
                    width: px2rem(54);
                }
            }

            &.large {
                height: px2rem(40);
                width: px2rem(40);

                .is_rounded {
                    height: px2rem(56);
                    width: px2rem(56);
                }
            }
        }
    }

    @page {
        /* set margin on each page */
        margin: 0;

        /* set page size */
        size: A4;

        @top-center {
            content: "Title | Subtitle";
        }

        @bottom-center {
            content: "Copyright [current year] | [page number]"
        }
    }
}